@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
html,

html,
body {
    height: 100%;
    width: 100%;
    font-family: "roboto", sans-serif;
    font-family: 'ubuntu', sans-serif;
}

.button {
    padding: 20px;
    width: 55px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;


}

.row {
    margin: 8px 0;

}

.row input {
    font-size: 20px;
    height: 2rem;
    margin: 0;
    padding: 0px 10px;
    border: 2px solid black;
    border-radius: 5px;
}